<h3>List of orders:</h3>
<table class="table table-condensed" >
  <tr>
    <td style="width: 15%;">Order</td>
    <td style="width: 20%;">Purchased</td>
    <td style="width: 20%;">Client</td>
    <td style="width: 15%;">Flight</td>
    <td style="width: 10%;">Tickets</td>
    <td style="width: 20%;">Price</td>
  </tr>
  <%@company_orders.each do |f|%>
      <tr>
        <td><%=f.id%></td>
        <td><%=f.created_at.strftime("%H:%M %m.%d.%Y")%></td>
        <td><%=f.user.name%></td>
        <td><%=f.flight.number%></td>
        <td>
          <% if f.econom_seats.nonzero? %>
              <%=f.econom_seats%> econom
          <% else %>
              <%=f.business_seats%> business
          <%end%>
        </td>
        <td><%=f.price%></td>
      </tr>
  <% end %>
</table>